<section id="menu-btn">
  <div class="row h-100">
    <div class="col">
      <div class="btn-group dropup h-100 w-100">
        <button
          type="button"
          class="dropdown-toggle btn-block btn-primary rounded-0 h-100"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          data-display="static"
        >
          Nuestro Colegio
        </button>
        <div class="dropdown-menu bg-primary">
          <a
            class="dropdown-item text-white"
            href="/nuestrocolegio#director"
          >Nuestro director</a>
          <a
            class="dropdown-item text-white"
            href="/nuestrocolegio#staff"
          >Staff</a>
          <a
            class="dropdown-item text-white"
            href="/nuestrocolegio#historia"
          >Historia</a>
          <a
            class="dropdown-item text-white"
            href="/nuestrocolegio#calendario"
          >Calendario escolar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="btn-group dropup h-100 w-100">
        <button
          type="button"
          class="dropdown-toggle btn-block btn-light rounded-0 h-100"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Niveles
        </button>
        <div class="dropdown-menu bg-light">
          <a class="dropdown-item" href="/secundaria">Nivel Secundaria</a>
          <a class="dropdown-item" href="/primaria">Nivel Primaria</a>
          <a class="dropdown-item" href="/inicial">Nivel Inicial</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="btn-group dropup h-100 w-100">
        <button
          type="button"
          class="dropdown-toggle btn-block btn-secondary rounded-0 h-100"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Departamentos
        </button>
        <div class="dropdown-menu bg-secondary">
          <a class="dropdown-item text-white" href="/deutsch">Dpto. de Alemán</a>
          <a class="dropdown-item text-white" href="/english">Dpto. de Inglés</a>
          <a class="dropdown-item text-white" href="/musica">Dpto. de Música</a>
          <a class="dropdown-item text-white" href="/educacionfisica">Dpto. de
            Educación Física</a>
          <a class="dropdown-item text-white" href="/informatica">Dpto. de
            Informática</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="btn-group dropup h-100 w-100">
        <button
          type="button"
          class="dropdown-toggle btn-block btn-warning text-white rounded-0 h-100"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Eventos
        </button>
        <div class="dropdown-menu bg-warning">
          <a
            class="dropdown-item text-white disabled"
            href="/concerts"
          >Concert</a>
          <a
            class="dropdown-item text-white disabled"
            href="/expresarte"
          >Expresarte</a>
          <a
            class="dropdown-item text-white disabled"
            href="/expresarte"
          >Familien Fest</a>
          <a
            class="dropdown-item text-white disabled"
            href="/familienfest"
          >FamilienFest</a>
          <a
            class="dropdown-item text-white disabled"
            href="/musikal"
          >Musischestreffen</a>
        </div>
      </div>
    </div>
    <div class="col" style="z-index: 9">
      <a
        href="/Administracion"
        class="btn btn-block btn-danger rounded-0 h-100"
        style="padding: 1px 6px"
      >Administración</a>
    </div>
    <div class="col" style="z-index: 9">
      <a
        href="/Admisiones"
        class="btn btn-block btn-dark rounded-0 h-100"
        style="padding: 1px 6px"
      >Admisión</a>
    </div>
  </div>
</section>