<section id="cuadros">
  <div class="row m-0">
    <div class="col-sm-6 w-50">
      <a href="#">
        <div class="cuadro c-azul">
          <img class="icono" src="/img/logo-examenes.png" alt="" />
          <h5>Exámenes<span class="d-block"></span> internacionales</h5>
        </div>
      </a>
    </div>
    <div class="col-sm-6 w-50">
      <a href="#">
        <div class="cuadro c-aulas">
          <h5>Aulas<span class="d-block"></span> Interactivas</h5>
        </div>
      </a>
    </div>
    <div class="col-sm-6 w-50">
      <a href="#">
        <div class="cuadro c-intercambio">
          <h5>Alumnos <span class="d-block"></span> Intercambio</h5>
        </div>
      </a>
    </div>
    <div class="col-sm-6 w-50">
      <a href="/mint">
        <div class="cuadro c-verde">
          <img class="icono" src="/img/mint/laboratorio.png" alt="" />
          <h5>MINT</h5>
        </div>
      </a>
    </div>
    <div class="col-sm-6 w-50">
      <a href="/orientacion">
        <div class="cuadro c-violeta">
          <img class="icono" src="/img/logo-eoe.png" alt="" />
          <h5>
            Equipo de<span class="d-block"></span>
            orientación escolar
          </h5>
        </div>
      </a>
    </div>
    <div class="col-sm-6 w-50">
      <a href="/musica">
        <div class="cuadro c-musica">
          <h5>Música</h5>
        </div>
      </a>
    </div>
    <div class="col-sm-6 w-50">
      <a href="/educacionfisica">
        <div class="cuadro c-fisica">
          <h5>Educación<span class="d-block"></span> física</h5>
        </div>
      </a>
    </div>
    <div class="col-sm-6 w-50">
      <a href="/english">
        <div class="cuadro c-rojo">
          <img class="icono" src="/img/iconos/iconos-09.png" alt="" />
          <h5>English</h5>
        </div>
      </a>
    </div>
    <div class="col-sm-6 w-50">
      <a href="/deutsch">
        <div class="cuadro c-amarillo">
          <img class="icono" src="/img/iconos/iconos-10.png" alt="" />
          <h5>Deutsch</h5>
        </div>
      </a>
    </div>
    <div class="col-sm-6 w-50">
      <a href="#">
        <div class="cuadro c-evento">
          <h5>Eventos</h5>
        </div>
      </a>
    </div>
  </div>
</section>