<section id="niveles">
  <div class="row">
    <div class="col">
      <a href="#">
        <div class="cuadro c-azul">
          <img class="icono" src="/img/logo-examenes.png" alt="" />
          <h5>Exámenes<span class="d-block"></span> internacionales</h5>
        </div>
      </a>
    </div>
    <div class="col content">
      <a href="#">
        <div class="cuadro c-aulas">
          <h5>Aulas<span class="d-block"></span> Interactivas</h5>
        </div>
        <div class="content-overlay overlay-yellow"></div>
        <div class="content-details fadeIn-top">
          <h3 class="content-title">Aulas Interactivas</h3>
          <p class="content-text">
            El colegio cuenta con aulas equipadas para el desarrollo de las
            clases de manera Interactiva
          </p>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="#" data-toggle="modal" data-target="#modalClassroom">
        <div class="cuadro c-verde">
          <img class="icono" src="/img/iconos/iconos-08.png" alt="" />
          <h5>CLASSROOM</h5>
        </div>
      </a>
    </div>
    <div class="col content">
      <a href="#">
        <div class="cuadro c-intercambio">
          <h5>Alumnos <span class="d-block"></span> Intercambio</h5>
        </div>
        <div class="content-overlay overlay-yellow"></div>
        <div class="content-details fadeIn-top">
          <h3 class="content-title">Intercambio</h3>
          <p class="content-text">
            Viaje de Intercambio a Alemania, Alumnos y profesores de intercambio
          </p>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/orientacion">
        <div class="cuadro c-violeta">
          <img class="icono" src="/img/logo-eoe.png" alt="" />
          <h5>
            EQUIPO DE<span class="d-block"></span>
            ORIENTACIÓN ESCOLAR
          </h5>
        </div>
      </a>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col content">
      <a href="/musica">
        <div class="cuadro c-musica">
          <h5>Música</h5>
        </div>
        <div class="content-overlay overlay-yellow"></div>
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Música</h3>
          <p class="content-text">
            El colegio desarrolla talleres de instrumentos musicales, Ensamble
            Musical y Conciertos
          </p>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/english">
        <div class="cuadro c-rojo">
          <img class="icono" src="/img/iconos/iconos-09.png" alt="" />
          <h5>ENGLISH</h5>
        </div>
      </a>
    </div>
    <div class="col content">
      <a href="/educacionfisica">
        <div class="cuadro c-fisica">
          <h5>Educación<span class="d-block"></span> Física</h5>
        </div>
        <div class="content-overlay overlay-yellow"></div>
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Educación Física</h3>
          <p class="content-text">Departamento de Educación Física</p>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/deutsch">
        <div class="cuadro c-amarillo">
          <img class="icono" src="/img/iconos/iconos-10.png" alt="" />
          <h5>DEUTSCH</h5>
        </div>
      </a>
    </div>
    <div class="col content">
      <a href="#">
        <div class="cuadro c-evento">
          <h5>Eventos</h5>
        </div>
        <div class="content-overlay overlay-yellow"></div>
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Eventos</h3>
          <p class="content-text">
            Todos los años el Colegio realiza diversos eventos en los que
            participan los alumnos y las familias
          </p>
        </div>
      </a>
    </div>
  </div>
</section>