<section id="footer">
  <div class="row m-0 h-100">
    <div class="col-sm-8 align-self-center">
      <ul class="m-auto">
        <li>
          <a
            class="btn btn-gart"
            href="https://mail.google.com/a/colegiociudadjardin.edu.ar"
          >Web Mail</a>
        </li>
        <li><a class="btn btn-gart" href="/login">Campus Virtual</a></li>
        <li>
          <a class="btn btn-gart disabled" href="/comollegar">Como llegar</a>
        </li>
        <li>
          <div class="btn-group dropup">
            <button
              type="button"
              class="btn-gart dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Alumnos
            </button>
            <div class="dropdown-menu mb-2">
              <a class="dropdown-item" href="/inicial">Inicial</a>
              <a class="dropdown-item" href="/primaria">Primaria</a>
              <a class="dropdown-item" href="/secundaria">Secundaria</a>
            </div>
          </div>
        </li>
        <li><a class="btn btn-gart" href="/Tour">Tour 360</a></li>
      </ul>
    </div>
    <div
      class="col-sm-3 offset-sm-1 ml-auto my-auto text-right align-self-center"
    >
      <a href="#" class="mr-2"><i
          class="fab fa-facebook fa-lg"
          aria-hidden="true"
          data-toggle="tooltip"
          data-placement="top"
          title="Facebook"
        ></i></a>
      <a
        href="https://www.instagram.com/colegiociudadjardin/"
        target="_blank"
        class="mr-2"
      ><i
          class="fab fa-instagram fa-lg"
          aria-hidden="true"
          data-toggle="tooltip"
          data-placement="top"
          title="Instagram"
        ></i></a>
      <a href="#" class="mr-2"><i
          class="fab fa-linkedin fa-lg"
          aria-hidden="true"
          data-toggle="tooltip"
          data-placement="top"
          title="Linkedin"
        ></i></a>
      <a
        href="https://www.youtube.com/channel/UCq0sbkaq4GOd-rrrF7rzVIg"
        target="_blank"
        class="mr-2"
      ><i
          class="fab fa-youtube fa-lg"
          aria-hidden="true"
          data-toggle="tooltip"
          data-placement="top"
          title="Youtube"
        ></i></a>
    </div>
  </div>
</section>