<section id="afiliados">
  <img class="img-fluid" src="/img/afiliados/1.svg" alt="img afiliados" />
  <img class="img-fluid" src="/img/afiliados/7.svg" alt="img afiliados" />
  <img class="img-fluid" src="/img/afiliados/10.svg" alt="img afiliados" />
  <br />
  <img class="img-fluid" src="/img/afiliados/3.svg" alt="img afiliados" />
  <img class="img-fluid" src="/img/afiliados/1.png" alt="img afiliados" />
  <img class="img-fluid" src="/img/afiliados/5.svg" alt="img afiliados" />
  <img class="img-fluid" src="/img/afiliados/6.svg" alt="img afiliados" />
  <img class="img-fluid" src="/img/afiliados/9.jpg" alt="img afiliados" />
</section>