<section class="mb-4 pb-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-gart fixed-top py-0" id="navbar">
        <a class="navbar-brand" href="/"><img class="img-brand" src="/img/logo-01.png"
                alt="logo Gartenstadt Schule"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
            aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mr-auto d-none" id="menuMobile">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        NUESTRO COLEGIO
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/nuestrocolegio#director">Nuestro director</a>
                        <a class="dropdown-item" href="/nuestrocolegio#staff">Staff</a>
                        <a class="dropdown-item" href="/nuestrocolegio#historia">Historia</a>
                        <a class="dropdown-item" href="/nuestrocolegio#calendario">Calendario escolar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        DEPARTAMENTOS
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/deutsch">Departamento de Alemán</a>
                        <a class="dropdown-item" href="/english">Departamento de Inglés</a>
                        <a class="dropdown-item" href="/musica">Departamento de Música</a>
                        <a class="dropdown-item disabled" href="/informatica">Departamento de Informática</a>
                        <a class="dropdown-item" href="/educacionfisica">Departamento de Educación Física</a>

                        <a class="dropdown-item" href="/secundaria">Dirección Nivel Secundaria</a>
                        <a class="dropdown-item" href="/primaria">Dirección Nivel Primaria</a>
                        <a class="dropdown-item" href="/inicial">Dirección Nivel Inicial</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        EL GARTENSTADT
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item disabled" href="/vidaescolar">Vida Escolar</a>
                        <a class="dropdown-item disabled" href="/orientacion">Equipo de Orientación Escolar</a>
                        <a class="dropdown-item disabled" href="/intercambios">Schüleraustausch</a>
                        <a class="dropdown-item disabled" href="/veronica">Schullandheim Verónica</a>
                        <a class="dropdown-item disabled" href="/serviciocomunitario">Community Service</a>
                        <a class="dropdown-item disabled" href="/mejorpromedio">Ehrentafel</a>
                        <a class="dropdown-item disabled" href="/aulas-digitales">Aulas Digitales: Educational
                            Technology</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        EVENTOS
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item disabled" href="/concerts">English Concerts</a>
                        <a class="dropdown-item disabled" href="/expresarte">Expresarte</a>
                        <a class="dropdown-item disabled" href="/expresarte">Familienfest</a>
                        <a class="dropdown-item disabled" href="/expoalemania">Expoalemania</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ADMINISTRACIÓN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ADMISIONES</a>
                </li>
            </ul>
            <div id="navbarGart">
                <div>
                    <div class="btn-group dropdown h-100">
                        <button type="button" class="dropdown-toggle btn btn-block" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            NUESTRO COLEGIO
                        </button>
                        <div class="dropdown-menu bg-transparente pt-4 mt-n1">
                            <a class="dropdown-item text-white" href="/nuestrocolegio#director">Nuestro director</a>
                            <a class="dropdown-item text-white" href="/nuestrocolegio#staff">Staff</a>
                            <a class="dropdown-item text-white" href="/nuestrocolegio#historia">Historia</a>
                            <a class="dropdown-item text-white" href="/nuestrocolegio#calendario">Calendario escolar</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="btn-group dropdown h-100">
                        <button type="button" class="dropdown-toggle btn btn-block" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            DEPARTAMENTOS
                        </button>
                        <div class="dropdown-menu bg-transparente pt-4 mt-n1">
                            <a class="dropdown-item text-white" href="/deutsch">Departamento de Alemán</a>
                            <a class="dropdown-item text-white" href="/english">Departamento de Inglés</a>
                            <a class="dropdown-item text-white" href="/musica">Departamento de Música</a>
                            <a class="dropdown-item text-white disabled" href="/informatica">Departamento de
                                Informática</a>
                            <a class="dropdown-item text-white" href="/educacionfisica">Departamento de Educación
                                Física</a>

                            <a class="dropdown-item text-white" href="/secundaria">Dirección Nivel Secundaria</a>
                            <a class="dropdown-item text-white" href="/primaria">Dirección Nivel Primaria</a>
                            <a class="dropdown-item text-white" href="/inicial">Dirección Nivel Inicial</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="btn-group dropdown h-100">
                        <button type="button" class="dropdown-toggle btn btn-block" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            EL GARTENSTADT
                        </button>
                        <div class="dropdown-menu bg-transparente pt-4 mt-n1">
                            <a class="dropdown-item text-white disabled" href="/vidaescolar">Vida Escolar</a>
                            <a class="dropdown-item text-white" href="/orientacion">Equipo de Orientación Escolar</a>
                            <a class="dropdown-item text-white" href="/mint">Iniciativa MINT</a>
                            <a class="dropdown-item text-white disabled" href="/intercambios">Schüleraustausch</a>
                            <a class="dropdown-item text-white disabled" href="/veronica">Schullandheim Verónica</a>
                            <a class="dropdown-item text-white disabled" href="/serviciocomunitario">Community
                                Service</a>
                            <a class="dropdown-item text-white disabled" href="/mejorpromedio">Ehrentafel</a>
                            <a class="dropdown-item text-white disabled" href="/aulas-digitales">Aulas Digitales:
                                Educational
                                Technology</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="btn-group dropdown h-100">
                        <button type="button" class="dropdown-toggle btn btn-block" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            EVENTOS
                        </button>
                        <div class="dropdown-menu bg-transparente pt-4 mt-n1">
                            <a class="dropdown-item text-white disabled" href="/concerts">English Concerts</a>
                            <a class="dropdown-item text-white disabled" href="/expresarte">Expresarte</a>
                            <a class="dropdown-item text-white disabled" href="/expresarte">Familienfest</a>
                            <a class="dropdown-item text-white disabled" href="/expoalemania">Expoalemania</a>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="/Administracion" class="btn btn-block">ADMINISTRACIÓN</a>
                </div>
                <div>
                    <a href="/Admisiones" class="btn btn-block">ADMISIÓN</a>
                </div>
            </div>
            <ul class="navbar-nav ml-auto border-right">
                <li class="nav-item pr-3">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Index">Colegio Ciudad Jardin</a>
                </li>
            </ul>
            <img class="img-lang" src="/img/iconos/iconos-13.png" alt="">
        </div>
    </nav>
</section>