<section id="data">
  <div class="contenedor">
    <h2>Administración</h2>
    <img class="img-nivel mt-5" src="/img/Administracion/admin1.png" alt="" />
    <p>Horario de atención: Lunes a Viernes de 8 a 16 Hs.</p>
    <p class="mb-0">Facturación y Cobranzas</p>
    <a class="h5 d-block" href="mailto:facturacion@colegiociudadjardin.com.ar">
      facturacion@colegiociudadjardin.com.ar
    </a>
    <br />
    <p class="mb-0">Departamento de Personal</p>
    <a class="h5 d-block" href="mailto:personal@colegiociudadjardin.edu.ar">
      personal@colegiociudadjardin.edu.ar
    </a>
    <br />
    <p class="mb-0">Compras y Proveedores</p>
    <a class="h5 d-block" href="mailto:compras@colegiociudadjardin.edu.ar">
      compras@colegiociudadjardin.edu.ar
    </a>
    <br />
    <p class="mb-0">Administrador</p>
    <a class="h5 d-block" href="mailto:asantoro@colegiociudadjardin.edu.ar">
      asantoro@colegiociudadjardin.edu.ar
    </a>
  </div>
</section>