<section id="landing">
    <div class="landing-img"
        style="background-image: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.15)),url(/img/deutsch/top.jpg);">
        <h2 class="landing-title">Dpto. de Alemán</h2>
        <h5 class="landing-subtitle">Willkommen!</h5>
    </div>
</section>

<section id="intro-text">
    <div class="contenedor">
        <div class="row">
            <div class="col p-4">
                <h3 class="text-center">El Idioma</h3>
                <p>
                    Nuestra meta fundamental es la enseñanza del idioma alemán. Para ello, desde
                    el <span class="c-amarillo">Nivel Inicial</span> promovemos el contacto de los alumnos con la lengua
                    por
                    medio de juegos y canciones, haciendo hincapié en el desarrollo de la expresión oral.
                </p>
                <p>
                    A partir del <span class="c-amarillo">Nivel Primario</span>, se fomenta el desempeño de los alumnos
                    en las
                    cuatro competencias lingüísticas, a saber, la lecto-comprensión, la
                    expresión escrita, la expresión oral y la comprensión auditiva.
                </p>
                <p>
                    Con el ingreso al <span class="c-amarillo">Nivel Secundario</span>, profundizamos la enseñanza
                    de la lengua a través de la preparación de los estudiantes para rendir exámenes tanto nacionales
                    como
                    internacionales
                    de diversos niveles, a la vez que ofrece la posibilidad de viajes de estudios a Alemania.
                </p>
                <p>
                    Para las familias y el personal del colegio, por su parte, el Departamento cuenta con una oferta de
                    cursos
                    de distintos niveles a fin de que todos puedan formar parte de las propuestas de la Escuela y de la
                    comunidad alemana en Argentina.
                </p>
            </div>
            <div class="col p-4">
                <h3 class="text-center">Die Sprache</h3>
                <p>
                    Wir setzen uns zum Ziel die deutsche Sprache professionell zu vermitteln. Ab dem
                    <span class="c-amarillo">Kindergarten</span> beginnend wird der Kontakt mit der
                    deutsche Sprache in Form von Spielen und Liedern gewährleistet. Im Fokus
                    steht hierbei der mündliche Ausdruck.
                </p>
                <p>
                    Mit dem Eintreten in die <span class="c-amarillo">Primärstufe</span> werden die vier linguistischen
                    Kernkompetenzen ausgebildet: Leseverstehen, schriftlicher Ausdruck, mündlicher Ausdruck und
                    Hörverstehen.
                </p>
                <p>
                    In der <span class="c-amarillo">Sekundarstufe</span> rückt die Vorbereitung auf nationale und
                    internationale
                    Deutschprüfungen
                    unterschiedlicher
                    Niveaustufen in den Vordergrund, mit dem Ziel die deutsche Sprache zu professionalisieren und zu
                    vertiefen.
                    Zudem wird ein Schüleraustausch nach Deutschland angeboten.
                </p>
                <p>
                    Sowohl die Lehrkräfte, als auch die Familienmitglieder haben die Möglichkeit Deutschkurse
                    unterschiedlicher
                    Niveaustufen an der Schule zu
                    absolvieren, um an den Aktivitäten der Gartenstadtschule und der Deutschen Gemeinde in Argentinien
                    teilnehmen zu können.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="c-amarillo text-white">
    <div class="contenedor">
        <h3 class="text-center">
            Certificaciones Internacionales
        </h3>
        <h5 style="font-weight: 500;">
            <i>Auf dem Weg zum DSD</i>
        </h5>
        <p>
            El examen “Auf dem Weg zum DSD”, desarrollado por la ZFA (Zentrallstelle für das Auslandsschulwesen),
            organismo
            dependiente del Estado Alemán que regula las escuelas alemanas en el extranjero, cuenta con reconocimiento
            internacional y certifica que el alumno que lo aprueba posee un <span class="bg-white t-amarillo px-1">nivel
                A2</span> del idioma en todas sus competencias lingüísticas. Asimismo, el examen hace las veces de
            diagnóstico
            y de guía para la aprobación futura del Deutsches Sprachdiplom DSD I y DSD II.
        </p>
        <br>
        <h5 style="font-weight: 500;">
            <i>Sprachdiplom DSD I y DSD II</i>
        </h5>
        <p>
            El “Deutsches Sprachdiplom DSD” es un examen de reconocimiento internacional, desarrollado desde hace más de
            40
            años por la ZFA. El <span class="bg-white t-amarillo px-1">DSD I</span> certifica que el alumno que aprueba
            las
            cuatro instancias del examen, a saber, comprensión lectora, comprensión auditiva, expresión escrita y
            expresión
            oral, cuenta con un <span class="bg-white t-amarillo px-1">nivel B1</span> de manejo de las cuatro
            competencias
            lingüísticas del idioma. Cabe destacar que el B1 corresponde con el nivel requerido
            por los Studienkolleg para acceder a las universidades en Alemania.
        </p>
        <p>
            El <span class="bg-white t-amarillo px-1">DSD II</span>, por su parte, certifica que el alumno que aprueba
            las
            cuatro
            partes del examen cuenta con un <span class="bg-white t-amarillo px-1">nivel C1</span> de manejo de todas
            las
            competencias lingüísticas del idioma, nivel requerido para acceder a las carreras en las universidades
            alemanas.
        </p>
        <div class="text-center pt-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Q_5JiJ7QI8E" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</section>

<section class="c-rojo text-white">
    <div class="contenedor">
        <div class="row">
            <div class="col p-4">
                <h3 class="text-center">Futuro</h3>
                <p>
                    Incentivamos a nuestros egresados a continuar sus estudios de la lengua alemana no sólo dentro de la
                    Argentina sino también en el exterior. También nuestros docentes cuentan con el apoyo de la
                    Institución para
                    continuar capacitándose ya dentro de la Argentina, ya en Alemania, a fin de seguir formándose de
                    manera
                    constante en las áreas de didáctica y pedagogía.
                </p>
            </div>
            <div class="col p-4">
                <h3 class="text-center">Zukunft</h3>
                <p>
                    Wir motiveren die Abiturienten sich nach Beendigung der Sekundarstufe nicht nur in Argentinien
                    sondern auch
                    in deutschsprachigen Ländern fortzubilden. Auch die Lehrkräfte werden in sprachfördernden
                    Angelegenheiten
                    unterstützt, sei es innnerhalb Argentiniens, oder ausserhalb. Somit wird eine ständige Fortbildung
                    der
                    Lehrkräfte garantiert.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="c-celeste text-white">
    <div class="contenedor">
        <div class="row">
            <div class="col p-4">
                <h3 class="text-center">Cultura</h3>
                <p>
                    Fomentamos el contacto e intercambio con otras escuelas alemanas dentro de la Argentina y la
                    participación
                    en actividades culturales y recreativas organizadas por la AGDS (Comunidad de Escuelas Argentino
                    Alemanas).
                </p>
                <p>
                    Estimulamos asimismo el contacto auténtico con la actualidad de Alemania, tanto desde el contenido
                    curricular como desde actividades extraprogramáticas, a la vez que a partir de 2018 ofrecemos en el
                    Nivel
                    Primario una hora más de alemán a través del Taller de Cultura Alemana a fin de que nuestros
                    estudiantes
                    tomen conocimiento de las tradiciones alemanas desde una edad temprana y aprendan a relacionarse con
                    el
                    idioma desde otra perspectiva.
                </p>
            </div>
            <div class="col p-4">
                <h3 class="text-center">Kultur</h3>
                <p>
                    Wir unterstützen den Austausch mit anderen deutschen Schulen in Argentinien und die Teilnahme an
                    kulturellen
                    und unterhaltsamen Veranstaltungen, welche von der AGDS organisiert werden.
                </p>
                <p>
                    Die Förderung des authentischen
                    Kontakts mit dem aktuellen, modernen Deutschland, sowohl im Unterricht als auch mittels
                    ausserschulischer
                    Aktivitäten, steht im Zentrum. Seit 2018 bieten wir in der Primärstufe eine zusätzliche
                    Deutschstunde an,
                    welche das Ziel verfolgt, im Rahmen der Lernwerkstatt den Schülerinnen und Schülern ab einem frühen
                    Alter an
                    die deutschen Traditionen und Gewohnheiten zu vermitteln. Hinzu kommt, dass die Schülerinnen und
                    Schüler
                    lernen, sich mit der deutschen Sprache auf eine andere Art und Weise, als im klassischen Unterricht,
                    auseinanderzusetzen.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div id="carrusel" class="carrusel p-0 m-0">
        <div>
            <img src="/img/deutsch/carrusel/Austausch 2020 - Berlin Febrero 2020.jpg"
                alt="Austausch 2020 - Berlin Febrero 2020">
        </div>
        <div>
            <img src="/img/deutsch/carrusel/Austausch 2020 - Bremen.jpg" alt="Austausch 2020 - Bremen">
        </div>
        <div>
            <img src="/img/deutsch/carrusel/Austausch 2020 - Despedida en Rheine.jpg"
                alt="Austausch 2020 - Despedida en Rheine">
        </div>
        <div>
            <img src="/img/deutsch/carrusel/Austausch 2020 - Paseando por Düsseldorf.jpg"
                alt="Austausch 2020 - Paseando por Düsseldorf">
        </div>
        <div>
            <img src="/img/deutsch/carrusel/Austausch 2020 - Paseo por Münster enero 2020.jpg"
                alt="Austausch 2020 - Paseo por Münster enero 2020">
        </div>
        <div>
            <img src="/img/deutsch/carrusel/Austausch 2020 - Recorrida por Berlin.jpg"
                alt="Austausch 2020 - Recorrida por Berlin">
        </div>
        <div>
            <img src="/img/deutsch/carrusel/Austausch 2020 - Visita a la ciudad de Köln.jpg"
                alt="Austausch 2020 - Visita a la ciudad de Köln">
        </div>
        <div>
            <img src="/img/deutsch/carrusel/Austausch 2020 -Visita al estadio Borussia Dortmund.jpg"
                alt="Austausch 2020 -Visita al estadio Borussia Dortmund">
        </div>
    </div>
</section>