<section id="docentes">
  <h1>Acceso Docentes</h1>
  <p>Estimados, En esta sección encontrarán las distintas propuestas que les
    acerca el colegio en materia de descuentos y promociones en tiendas y
    comercios adheridos.</p>

  <div class="grid-container">
    <div class="grid-item">
      <a href="https://encombo.com.ar/">
        <img src="/img/logos/encombo.webp" alt="Encombo" />

      </a>
    </div>
    <div class="grid-item disabled">

      <a href="https://admin.bonda.com/auth/signin">
        <img src="/img/logos/bonda.svg" alt="Bonda" />

      </a>
      <div class="overlay">Próximamente</div>
    </div>
  </div>
</section>