<section id="landing">
  <div class="landing-img pb-4"
    style="background-image: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.65)),url(/img/inicial/top.jpg);">
    <h2 class="landing-title pb-4">Actividades Inicial</h2>
  </div>
</section>

<section>
  <div class="contenedor">
    <h3 class="text-center m-0">Lecciones Paseo</h3>
  </div>
  <div id="carrusel" class="p-0 m-0 carrusel">
    <div>
      <img src="/img/inicial/actividades/lecciones paseo/Visita a la Feria del barrio.jpg"
        alt="visita a la feria del barrio">
      <h4 class="title-caption">Visita a la feria del barrio</h4>
      <p class="caption">Compramos frutas y verduras para trabajar la importancia de una alimentación saludable</p>
    </div>
    <div>
      <img src="/img/inicial/actividades/lecciones paseo/Bomberos voluntarios.jpg"
        alt="Visita a los Bomberos Voluntarios">
      <h4 class="title-caption">Visita a los Bomberos Voluntarios</h4>
      <p class="caption">Aprendemos cómo cuidarnos del fuego, cuál es el trabajo que realizan los bomberos y a
        valorar la labor voluntaria que realizan.</p>
    </div>
    <div>
      <img src="/img/inicial/actividades/lecciones paseo/Museo cs Naturales.jpg" alt="Visita al Museo de Cs. Naturales">
      <h4 class="title-caption">Visita al Museo de Ciencias Naturales</h4>
      <p class="caption">Conocemos más acerca de los animales prehistóricos, dinosaurios y reptiles marinos y
        voladores, y sobre el trabajo de los científicos y paleontólogos.</p>
    </div>
    <div>
      <img src="/img/inicial/actividades/lecciones paseo/visita a Carrefour.jpg" alt="Visita al supermercado Carrefour">
      <h4 class="title-caption">Visita al supermercado Carrefour</h4>
      <p class="caption">Profundizamos el trabajo de prácticas del lenguaje y matemática visitando el súper.
        <br>
        Ya en la sala, realizamos carteles, folletos, billetes, etc. para jugar al supermercado y poder comprar y
        vender como
        vimos en el paseo.
      </p>
    </div>
    <div>
      <img src="/img/inicial/actividades/lecciones paseo/visita Museo del automovil.jpg"
        alt="Visita al Museo del Automóvil">
      <h4 class="title-caption">Visita al Museo del Automóvil</h4>
      <p class="caption">Luego de la visita los niños construyen sus autos/aviones, entradas, folletos y todo lo
        necesario para una exposición;
        <br>
        la misma se abre para la visita de las salas de 3 y 4 años.
      </p>
    </div>
</section>
<!-- TODO: Faltan 2 leeciones -->
<div class="d-none">
  <div>
    <img src="/img/inicial/actividades/lecciones paseo/" alt="">
    <h4 class="title-caption"></h4>
    <p class="caption">Nos transformamos en pequeños granjeros; ordeñamos a las vacas, alimentamos gallinas,
      conejos, patos, gansos, cabras, ovejas, llamas y damos un paseo en pony. *ME FALTA FOTO</p>
  </div>
  <div>
    <img src="/img/inicial/actividades/lecciones paseo/" alt="">
    <h4 class="title-caption"></h4>
    <p class="caption">Aprendemos sobre el sistema de registro y préstamo, y disfrutamos de narraciones de
      cuentos.
      <br>
      Luego realizamos una biblioteca áulica.
    </p>
  </div>
</div>

<section>
  <div class="contenedor c-amarillo text-white">
    <h3 class="text-center m-0">Efemérides</h3>
  </div>
  <div id="carrusel" class="p-0 m-0 carrusel">
    <div>
      <img src="/img/inicial/actividades/efemerides/25 de Mayo.jpg" alt="25 de Mayo">
      <h4 class="solo-caption">25 de Mayo 2020</h4>
    </div>
    <div>
      <img src="/img/inicial/actividades/efemerides/20 de junio.jpg" alt="20 de Junio">
      <h4 class="solo-caption">20 de Junio 2020</h4>
    </div>
    <div>
      <img src="/img/inicial/actividades/efemerides/9 de Julio.jpg" alt="9 de Julio">
      <h4 class="solo-caption">9 de Julio 2020</h4>
    </div>
    <div>
      <img src="/img/inicial/actividades/efemerides/17 de agosto.jpg" alt="17 de Agosto">
      <h4 class="solo-caption">17 de Agosto 2020</h4>
    </div>
</section>

<section>
  <div class="contenedor c-rojo text-white">
    <h3 class="text-center m-0">Muestras y Eventos</h3>
  </div>
  <div id="carrusel" class="p-0 m-0 carrusel">
    <div>
      <img src="/img/inicial/actividades/muestras y eventos/Muestra de Natación.jpg" alt="Muestra de Natación">
      <h4 class="solo-caption">Muestra de Natación</h4>
    </div>
    <div>
      <img src="/img/inicial/actividades/muestras y eventos/muestra de arte.jpg" alt="muestra de arte">
      <h4 class="solo-caption">Muestra de arte</h4>
    </div>
    <div>
      <img src="/img/inicial/actividades/muestras y eventos/Obra de Inglés.jpg" alt="Obra de Inglés">
      <h4 class="solo-caption">Obra de Inglés</h4>
    </div>
    <div>
      <img src="/img/inicial/actividades/muestras y eventos/pernocte sala de 4 años.jpg" alt="pernocte sala de 4 años">
      <h4 class="solo-caption">Pernocte sala de 4 años</h4>
    </div>
    <div>
      <img src="/img/inicial/actividades/muestras y eventos/Dia del Niño.jpg" alt="Dia del Niño">
      <h4 class="solo-caption">Dia del Niño</h4>
    </div>
    <div>
      <img src="/img/inicial/actividades/muestras y eventos/Clase de Informática.jpg" alt="Clase de Informática">
      <h4 class="solo-caption">Clase de Informática</h4>
    </div>
    <div>
      <img src="/img/inicial/actividades/muestras y eventos/Fiesta de Ed. Física.jpg" alt="Fiesta de Ed. Física">
      <h4 class="solo-caption">Fiesta de Ed. Física</h4>
    </div>
    <div>
      <img src="/img/inicial/actividades/muestras y eventos/Cierre de proyecto.jpg" alt="Cierre de proyecto">
      <h4 class="solo-caption">Cierre de proyecto</h4>
    </div>
</section>

<section class="mb-5">
  <div class="contenedor c-celeste text-white">
    <h3 class="text-center m-0">Eventos de Alemán</h3>
  </div>
  <div id="carrusel" class="p-0 m-0 carrusel">
    <div>
      <img src="/img/inicial/actividades/eventos de aleman/Laternenfest.jpg" alt="Laternenfest">
      <h4 class="solo-caption">Laternenfest</h4>
    </div>
    <div>
      <img src="/img/inicial/actividades/eventos de aleman/Laternenfest 2.jpg" alt="Laternenfest">
      <h4 class="solo-caption">Laternenfest</h4>
    </div>
  </div>
</section>