<section id="landing">
  <div class="landing-img"
    style="background-image: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.65)),url(/img/inicial/top.jpg);">
    <h2 class="landing-title">Nivel Inicial</h2>
    <h5 class="landing-subtitle">¡Bienvenidos!</h5>
  </div>
</section>

<section id="intro-text">
  <div class="contenedor">
    <h2 class="text-center mb-4">Nuestra Propuesta</h2>
    <p>
      Nuestra propuesta pedagógica contempla una educación integral, ofreciendo una amplia variedad de actividades que
      preparan a nuestros alumnos para afrontar un mundo en permanente cambio.
    </p>
    <p class="text-center mt-5">
      <i>
        “Cuidar con dedicación, estimular con entusiasmo y enseñar con profesionalismo.”
      </i>
    </p>
  </div>
</section>
<section>
  <div class="c-amarillo text-white pb-3">
    <div class="contenedor pb-4">
      <h3 class="text-center">El Idioma</h3>
      <p class="text-center">
        En esta etapa, los niños no aprenden un idioma, sino que lo adquieren.
      </p>
      <p>
        Es por esta razón que, desde Sala de 3, nuestros alumnos tienen clases de alemán, en las que juegan,
        cantan canciones y leen en el idioma. En el caso del inglés, los niños comienzan a estudiarlo desde
        Sala de 4. De esta forma, conseguimos que, mientras afianzan la comunicación en español, incorporan
        paralelamente los otros dos idiomas.
      </p>
      <div class="text-center">
        <a href="/deutsch" class="btn btn-lg btn-light text-warning mx-3" style="border-radius: 10px;">Más info de
          Alemán</a>
        <a href="/english" class="btn btn-lg btn-light text-warning mx-3" style="border-radius: 10px;">Más info de
          Inglés</a>
      </div>
    </div>
  </div>
</section>

<section id="title-cards" class="c-rojo">
  <div class="mx-4 p-5">
    <h3 class="text-center mb-5 text-white">Actividades</h3>
    <div class="card-deck card-deck-primaria mb-5">
      <div class="card">
        <img src="/img/inicial/actividades/lecciones paseo.jpg" class="card-img-top" alt="salidas paseo">
        <div class="card-body pb-2">
          <h5 class="card-title">
            Lecciones Paseo
          </h5>
          <p>
            Cada sala realiza diferentes salidas educativas relacionadas con Unidades Didácticas o Proyectos.
            Por ejemplo, el cuartel de bomberos, la biblioteca popular, la granja, el Museo de Cs. Naturales y
            el Museo del Automóvil o Aeronáutico.
          </p>
        </div>
        <div class="card-footer text-center border-0 bg-transparent pt-0">
          <a href="./inicial/actividades" class="btn btn-dark">Ver más</a>
        </div>
      </div>
      <div class="card">
        <img src="/img/inicial/actividades/efemérides.jpg" class="card-img-top" alt="talleres actos">
        <div class="card-body pb-2">
          <h5 class="card-title">Efemérides</h5>
          <p>
            En el nivel inicial tenemos la intencionalidad de que estos momentos importantes de
            nuestra historia sean más significativos para los niños, integrándose a los proyectos
            áulicos.
          </p>
        </div>
        <div class="card-footer text-center border-0 bg-transparent pt-0">
          <a href="./inicial/actividades" class="btn btn-dark">Ver más</a>
        </div>
      </div>
      <div class="card">
        <img src="/img/inicial/actividades/muestras y eventos.jpg" class="card-img-top"
          alt="muestras y eventos inicial">
        <div class="card-body pb-2">
          <h5 class="card-title">Muestras y Eventos</h5>
          <p>
            El nivel inicial se caracteriza por trabajar en conjunto con las
            familias, a través de nuestras muestras compartimos con ellas las actividades de las
            distintas salas.
          </p>
        </div>
        <div class="card-footer text-center border-0 bg-transparent pt-0">
          <a href="./inicial/actividades" class="btn btn-dark">Ver más</a>
        </div>
      </div>
      <div class="card">
        <img src="/img/inicial/actividades/eventos de aleman.jpg" class="card-img-top" alt="proyectos inicial">
        <div class="card-body pb-2">
          <h5 class="card-title">Eventos de Alemán</h5>
          <p>
            Como parte de la AGDS desde el nivel inicial trabajamos con proyectos de cultura y tradiciones
            alemanas como la Laternenfest y el Musikal.
          </p>
        </div>
        <div class="card-footer text-center border-0 bg-transparent pt-0">
          <a href="./inicial/actividades" class="btn btn-dark">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="educacionfisica">
  <div class="contenedor pb-0">
    <h3 class="landing-title text-center mb-4">Educación Física</h3>
    <div class="mx-2">
      <p class="text-center">
        La Educación Física en el nivel inicial enriquece la experiencia corporal y motriz de los niños.
      </p>
      <p>
        Contamos con un proyecto de natación que inicia en las salas de 4 años. Además, al cierre del ciclo
        lectivo se realiza la fiesta de la educación física, en el cual participan los niños de las salas de
        5 años, junto con alumnos de primaria.
      </p>
    </div>
  </div>
  <div class="card-deck px-5 cards-m">
    <div class="card">
      <a href="/educacionfisica">
        <img class="img-fluid" src="/img/inicial/ed-fisica/natacion.jpg">
        <h5 class="mb-0 t-celeste text-center font-weight-bolder">NATACIÓN</h5>
      </a>
    </div>
    <div class="card">
      <a href="/educacionfisica">
        <img class="img-fluid" src="/img/inicial/ed-fisica/pernocte.jpg">
        <h5 class="mb-0 t-celeste text-center font-weight-bolder">PERNOCTE</h5>
      </a>
    </div>
    <div class="card">
      <a href="/educacionfisica">
        <img class="img-fluid" src="/img/inicial/ed-fisica/fiesta.jpg">
        <h5 class="mb-0 t-celeste text-center font-weight-bolder">FIESTA ANUAL</h5>
      </a>
    </div>
    <div class="card">
      <a href="/educacionfisica">
        <img class="img-fluid" src="/img/inicial/ed-fisica/campamento.jpg">
        <h5 class="mb-0 t-celeste text-center font-weight-bolder">CAMPAMENTO</h5>
      </a>
    </div>
  </div>
  <div class="text-center pb-5">
    <a href="/educacionfisica" class="btn btn-dark btn-lg px-3" style="border-radius: 12px;">Ver más</a>
  </div>
</section>

<section id="jornada">
  <div class="contenedor c-celeste text-white">
    <h3 class="text-center mb-2">La Jornada</h3>
    <h5 class="text-center font-weight-bolder">Jornada simple</h5>
    <div class="text-center row justify-content-md-center">
      <div class="col-4">
        <ul>
          <li style="list-style-position: inside; font-size: 22px;">
            Sala de1: 8 a 11:30
          </li>
          <li style="list-style-position: inside; font-size: 22px;">
            Sala de 2: 8 a 11:35
          </li>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <li style="list-style-position: inside; font-size: 22px;">
            Sala de 3: 8 a 11:40
          </li>
          <li style="list-style-position: inside; font-size: 22px;">
            Sala de 4:8 a 11:45
          </li>
        </ul>
      </div>
      <p class="font-italic font-weight-lighter mt-2">
        La jornada completa es opcional para las salas de 1, 2, 3 y 4 años y obligatoria para sala de 5 años.
      </p>
    </div>
    <div class="mx-4" style="border-top: 1px solid white; padding-top: 45px; margin-top: 35px;">
      <h5 class="text-center font-weight-bolder">Jornada Completa</h5>
      <div class="text-center">
        <ul class="p-0">
          <li style="list-style-position: inside; font-size: 22px;">
            Sala de 1 y 2: 8 a 15:45hs
          </li>
          <li style="list-style-position: inside; font-size: 22px;">
            Sala de 3: 8 a 15:45hs
          </li>
          <li style="list-style-position: inside; font-size: 22px;">
            Sala de 4: 8 a 15:50hs </li>
          <li style="list-style-position: inside; font-size: 22px;">
            Sala de 5: 8 a 15:55hs

          </li>
        </ul>
      </div>
      <p class="font-italic mt-2 text-center">
        Cuenta con una hora de almuerzo de 12 a 13hs con las opciones de menú del comedor y 1h de siesta para sala de 3
        y 1:30hs de siesta para sala de 1 y 2 años.
      </p>
    </div>
  </div>
</section>

<section id="horarios">
  <div class="contenedor">
    <div class="btn-group">
      <a type="button" class="btn btn-lg px-3 py-1 c-celeste text-white dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" style="border-radius: 12px;" aria-expanded="false" id="dropdown-hora">
        Sala de 1 Jornada Completa
      </a>
      <div class="dropdown-menu py-0" style="min-width: 9rem;">
        <a class="dropdown-item c-celeste text-white" href="javascript:void(0);" onclick="hora()" data-sala="1-c">Sala
          de 1 Jornada Completa</a>
        <a class="dropdown-item c-celeste text-white" href="javascript:void(0);" onclick="hora()" data-sala="1-s">Sala
          de 1 Jornada Simple</a>
        <a class="dropdown-item c-celeste text-white" href="javascript:void(0);" onclick="hora()" data-sala="2-c">Sala
          de 2 Jornada Completa</a>
        <a class="dropdown-item c-celeste text-white" href="javascript:void(0);" onclick="hora()" data-sala="2-s">Sala
          de 2 Jornada Simple</a>
        <a class="dropdown-item c-celeste text-white" href="javascript:void(0);" onclick="hora()" data-sala="3-c">Sala
          de 3 Jornada Completa</a>
        <a class="dropdown-item c-celeste text-white" href="javascript:void(0);" onclick="hora()" data-sala="3-s">Sala
          de 3 Jornada Simple</a>
        <a class="dropdown-item c-celeste text-white" href="javascript:void(0);" onclick="hora()" data-sala="4-c">Sala
          de 4 Jornada Completa</a>
        <a class="dropdown-item c-celeste text-white" href="javascript:void(0);" onclick="hora()" data-sala="4-s">Sala
          de 4 Jornada Simple</a>
        <a class="dropdown-item c-celeste text-white" href="javascript:void(0);" onclick="hora()" data-sala="5-c">Sala
          de 5 Jornada Completa</a>
      </div>
    </div>
    <div class="row my-4">
      <div class="col text-center mt-5">
        <i class="far fa-clock fa-5x mb-4 t-celeste"></i>
        <h4 class="font-weight-bolder t-celeste">
          Horario <br> Entrada
        </h4>
        <h3 class="btn c-celeste text-white btn-horario" id="hora-entrada">
          08:00
        </h3>
      </div>
      <div class="col text-center mt-5">
        <i class="fa fa-utensils fa-5x mb-4 t-amarillo"></i>
        <h4 class="font-weight-bolder t-amarillo">
          Almuerzo y <br> Siesta
        </h4>
        <h3 class="btn c-amarillo text-white btn-horario" id="hora-almuerzo">
          12:00 - 13:00
        </h3>
        <h3 class="btn c-amarillo text-white btn-horario" id="hora-siesta">
          13:00 - 15:00
        </h3>
      </div>
      <div class="col text-center mt-5">
        <i class="fa fa-house-user fa-5x mb-4 t-rojo"></i>
        <h4 class="font-weight-bolder t-rojo">
          Horario<br> Salida
        </h4>
        <h3 class="btn c-rojo text-white btn-horario" id="hora-salida">
          16:20
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="c-amarillo text-white text-center pt-4" hidden>
  <div class="pt-4">
    <h3>Las Aulas</h3>
    <div id="carrusel" class="p-0">
      <div><img src="/img/inicial/laternenfest/Laternenfest1.jpg" alt="imagen de laternenfest 1"></div>
    </div>
  </div>
</section>