<section id="landing">
  <div class="landing-img"
    style="background-image: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.15)),url(/img/mint/mintBanner.jpg);">
    <h2 style="margin-top: -240px;">Enfoque MINT</h2>
  </div>
</section>

<section>
  <div class="contenedor">
    <img class="img-nivel mt-n4" src="/img/iconos/iconos-15.png" alt="">
    <p>
      MINT es una iniciativa del Ministerio de Cultura y Educación de la República Federal de Alemania, promovida en
      nuestro
      país por la AGDS (Comunidad de Trabajo de Escuelas Argentino Germanas). Tiene como objetivo fortalecer el
      aprendizaje de
      los estudiantes en las áreas de Matemática, Informática, Ciencias Naturales y Tecnología.
    </p>
    <br />
    <p>
      En este último tiempo, la promoción de las asignaturas MINT ha comenzado a ocupar un lugar destacado en nuestro
      proyecto
      institucional, acompañado por una mayor utilización de las nuevas tecnologías, la realización de proyectos
      interdisciplinarios y la incorporación del alemán en las clases de Físico Química y, próximamente, de Informática.
    </p>
    <p>
      <br />
      Con el objetivo de favorecer el desarrollo de las áreas MINT, también se ha renovado el laboratorio de ciencias,
      se han
      equipado las aulas con computadoras y televisores, se ha mejorado el equipamiento de la sala de informática y se
      habilitó una sala de tecnología para el nivel primario.
    </p>
  </div>
</section>

<section>
  <div class="contenedor" style="background-color: #F8CC3D;">
    <h5 style="font-weight: 600;">
      La iniciativa MINT también se destaca por fomentar el contacto con otros colegios y con universidades que trabajan
      con
      el mismo enfoque. Cabe mencionar que una de las escuelas alemanas con las que realizamos el intercambio, Maria
      Sibylla
      Merian Gymnasium - Telgte, es escuela MINT, lo cual nos brinda una oportunidad importantísima de trabajo
      colaborativo.
      Asimismo, nuestro colegio realiza visitas a universidades que brindan carreras relacionadas con Ciencias,
      Ingeniería,
      Tecnología, etc. y está desarrollando lazos con la Escuela Técnica Roberto Rocca de Campana.
    </h5>
  </div>
</section>

<section id="title-cards" class="c-rojo">
  <div class="mx-4 p-5">
    <h2 class="text-center mb-5">Algunas actividades que realizamos</h2>
    <div class="card-deck card-deck-primaria mb-5">
      <div class="card">
        <a href="https://mint.colegiociudadjardin.edu.ar/?view=magazine">
          <img src="/img/mint/card1.png" class="card-img-top" alt="imagen orientacion Educacional">
          <div class="card-body">
            <h5 class="card-title" style="color:black;text-decoration: none;">
              Espacio de aprendizaje MINT
            </h5>

          </div>
        </a>
      </div>
      <div class="card">
        <a href="https://mint.colegiociudadjardin.edu.ar/?view=magazine" style="text-decoration: none;">
          <img src="/img/mint/card2.png" class="card-img-top" alt="imagen orientacion Educacional">
          <div class="card-body">
            <h5 class="card-title" style="color:black;text-decoration: none;">
              Orientación profesional MINT</h5>

          </div>
        </a>
      </div>
      <div class="card">
        <a href="https://mint.colegiociudadjardin.edu.ar/?view=magazine" style="text-decoration: none;">

          <img src="/img/mint/card3.png" class="card-img-top" alt="imagen orientacion Educacional">
          <div class="card-body">
            <h5 class="card-title" style="color:black;text-decoration: none;">
              Salidas Educativas MINT</h5>

          </div>
        </a>
      </div>
      <div class="card">
        <a href="https://mint.colegiociudadjardin.edu.ar/?view=magazine" style="text-decoration: none;">

          <img src="/img/mint/card4.png" class="card-img-top" alt="imagen orientacion Educacional">
          <div class="card-body">
            <h5 class="card-title" style="color:black;text-decoration: none;">
              Trabajo en Laboratorio</h5>

          </div>
        </a>
      </div>

    </div>
  </div>
</section>

<section class="c-celeste text-white" id="data">
  <div class="contenedor">
    <h2>Equipo de trabajo MINT</h2>
    <p>Con el fin de profundizar a largo plazo el perfil de MINT de nuestra institución y apoyar a los estudiantes en el
      desarrollo óptimo de su potencial, se creó el equipo de trabajo MINT, compuesto actualmente por tres profesores de
      las
      áreas MINT:</p>
    <div class="row eoe">
      <div class="col-sm-3">
        <img class="img-nivel float-left px-3 mt-3" src="/img/mint/mint1.png" alt="">
      </div>
      <div class="col-sm-9 h-100 m-auto">
        <p>Mi nombre es Andrea Espinosa, profesora de Matemática desde el año 2001.
          Una de las experiencias más enriquecedoras que he tenido como profesora de matemáticas ha sido la coordinación
          del
          proyecto de Olimpiadas Matemáticas.
          Además de mi experiencia docente, me he capacitado en el uso de herramientas tecnológicas como Geogebra, un
          software
          educativo.
          Otro recurso que he integrado en mi enseñanza es el origami, el arte tradicional japonés del plegado de papel.
          En
          resumen, ser profesora de matemáticas es una experiencia gratificante y desafiante.</p>
      </div>
    </div>
    <div class="row eoe">
      <div class="col-sm-3">
        <img class="img-nivel float-left px-3 mt-3" src="/img/mint/mint2.png" alt="">
      </div>
      <div class="col-sm-9 h-100 m-auto">
        <p>Mi nombre es Christian Pérez, profesional universitario en sistemas, profesor de informática y desarrollador.
          Dentro de
          la institución ocupo el cargo de Coordinador de Informática y Tecnología, como así también profesor del nivel
          secundario
          en Nuevas tecnologías e Informática Aplicada. Me apasiona combinar el proceso de enseñanza-aprendizaje con el
          fascinante
          mundo de la programación.</p>
      </div>
    </div>
    <div class="row eoe">
      <div class="col-sm-3">
        <img class="img-nivel float-left px-3 mt-3" src="/img/mint/mint3.png" alt="">
      </div>
      <div class="col-sm-9 h-100 m-auto">
        <p>Mi nombre es Javier Fernández-Velasco. Soy Doctor en Ciencias Biológicas por la Universidad de Buenos Aires.
          Hago
          investigación científico/tecnológica en la microbiología de la biogasificación. Trabajo en el Colegio desde
          hace 5 años
          enseñando Biología y los laboratorios de todas las Ciencias, además de coordinar las Ferias de Ciencias.
        </p>
      </div>
    </div>
    <p>
      Este equipo está subordinado a un grupo de dirección compuesto por miembros del equipo de dirección de la escuela:
      Viviana Gordiola (Directora nivel primario), Diana Bria (Vicedirectora del nivel secundario) y Luis Martelletti
      (Director General).
      La Prof. Bárbara Defferrari (Coordinadora Departamento de Alemán nivel primario) está a cargo de la gestión del
      grupo
      directivo de MINT. Coordina el desarrollo y profundización del perfil MINT en colaboración con los profesores
      hispanohablantes y el equipo de la Fachschaft Deutsch. En resumen, sus tareas incluyen:
      <br />
    <ul>
      <li>
        <p>
        <p>Persona de contacto para preguntas sobre el concepto MINT de la escuela</p>

      </li>
      <li>
        <p>Coordinación de la cooperación MINT/DaF</p>
      </li>
      <li>
        <p>Elaboración de un plan de estudios de Ciencias Naturales que tenga en cuenta el idioma</p>
      </li>
      <li>
        <p>Asesoramiento sobre la promoción de MINT (por ejemplo, AGs)</p>
      </li>
      <li>
        <p>Representación del concepto MINT y de los temas MINT interna y externamente</p>
      </li>
      <li>
        <p>Información de los departamentos de STEM sobre concursos, cursos de formación y proyectos</p>
      </li>

    </ul>

    </p>
    <br />
    <h5>La mejora del perfil MINT cuenta con el apoyo del Consejo de Padres de la escuela, que proporciona sobre todo
      los
      medios
      financieros para desarrollar este enfoque.</h5>

  </div>
</section>

<section id="title-cards" class="c-rojo">
  <div class="mx-5 p-5" style="text-align: center;">
    <img src="/img/tablaMint.png" style="width: 80vw; border-radius:10px; " />
  </div>
</section>

<section id="title-cards" class="c-amarillo">
  <div class="mx-5 p-5">
    <h3>Calendario MINT
    </h3>
    <div>
      <h5> <strong> Abril: </strong>

        Visita de los alumnos de 2º año del nivel primario al Museo de Ciencias Naturales
        Participación de alumnos de 4º y 5º año en un debate sobre cambio climático en la Asociación escuelas Lincoln.
      </h5><br />

      <h5> <strong>Mayo:</strong>

        Visita de los alumnos de 4º año del nivel primario al Jardín Botánico
        Orientación vocacional: charlas de padres profesionales en el área de las Ciencias para los alumnos de 6º año

      </h5><br />
      <h5> <strong>Junio:</strong>

        Visita de los alumnos de 3º año del nivel secundario a la Reserva Ecológica de Vicente López
        Orientación vocacional: charlas de padres profesionales en el área de las Ciencias para los alumnos de 6º año
      </h5><br />
      <h5> <strong>Julio:</strong>

        Jornada en la Escuela Técnica Roberto Rocca (Campana): visita de los alumnos de 5º y 6º año, clases compartidas
        con los
        alumnos de dicho colegio y charlas de profesionales.
      </h5><br />
      <h5> <strong>Agosto:</strong>

        Visita de 4º año del nivel secundario a la “Semana de la Biología” en la Universidad de Buenos Aires.
        Participación de
        una experiencia en el laboratorio a cargo de la Dra. Irene Baroli.
        Visita de 1º año del nivel secundario al Museo de Ciencias Naturales de La Plata
      </h5><br />
      <h5> <strong>Septiembre:</strong>

        Visita de 3º año del nivel secundario al INVAP (Instituto de Investigación Aplicada y Desarrollo Tecnológico de
        la
        Provincia de Río Negro)
      </h5><br />

      <h5> <strong>Octubre:</strong>
        Encuentro de Juegos Matemáticos para escuelas de la AGDS nivel primario (organizado por nuestra escuela)
      </h5><br />

      <h5> <strong>Noviembre:</strong>
        Semana de las Ciencias: ferias MINT de los tres niveles
      </h5><br />

      <h5> <strong>Marzo a noviembre:</strong>

        Participación de los alumnos de 5º y 6º año nivel primario y de 1º a 6º año del nivel secundario en las
        Olimpíadas
        Matemáticas Ñandú y OMA y en Mateclubes.
        Proyecto huerta escolar: realizada por alumnos de 3º y 4º año del nivel primario
        Proyecto cuidado de la Plaza Aviador Hörhammer: realizado por los alumnos de 1º año del nivel secundario

      </h5><br />




    </div>
  </div>
</section>