<section id="landing">
  <div class="landing-img"
    style="background-image: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.15)),url(/img/musica/top.jpg);">
    <h2 class="landing-title">Dpto. de Música</h2>
    <h5 class="landing-subtitle">¡Bienvenidos!</h5>
  </div>
</section>

<section>
  <div class="contenedor">
    <h3 class="text-center">La música en el CCJ</h3>
    <p class="text-justify">
      El departamento de Arte y Cultura en el Colegio Ciudad Jardín, atraviesa distintas disciplinas como la música,
      las artes plásticas, los lenguajes artísticos, las artes visuales, el arte de la palabra, el arte en movimiento,
      artes populares, y las nuevas formas de arte.
    </p>
    <p>
      Valorar el lenguaje plástico visual en la historia, sus elementos, movimientos y mensajes como una expresión del
      ser humano.
    </p>
  </div>
</section>

<section id="title-cards" class="c-amarillo text-white">
  <div class="mx-4 p-5">
    <h2 class="text-center">Actividades</h2>
    <div class="card-deck card-deck-primaria mb-5">
      <div class="card">
        <a href="#" class="text-dark">
          <img src="../img/musica/actividades/act1.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">
              Ensambles
            </h5>
            <p>
              Con cada curso de secundaria se forman ensambles donde se preparan canciones del repertorio popular y
              universal
              en español, inglés y alemán que luego serán presentadas en distintos eventos. También los egresados
              mantienen la
              tradición y continúan aportando su talento cada año.
            </p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#" class="text-dark">
          <img src="../img/musica/actividades/act2.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Viajes</h5>
            <p>
              Todos los años realizamos viajes e intercambios compartiendo nuestra música con otras instituciones.
              Villa
              General Belgrano
            </p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#" class="text-dark">
          <img src="../img/musica/actividades/act3.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Expresarte</h5>
            <p>
              Concierto anual donde se presentan las producciones musicales de cada ensamble de secundaria y también
              de los
              cursos de primaria , los alumnos interpretan el material elegido para cada año.
            </p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#" class="text-dark">
          <img src="../img/musica/actividades/act4.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Proyectos transversales</h5>
            <p>
              Los alumnos del segundo ciclo primario preparan la música que se interpreta en vivo en
              cada Concert , coros , solistas y banda aportan la música en cada obra en este caso canciones en ingles
              interpretadas por los alumnos.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="c-rojo text-white">
  <div class="mx-4 p-5 text-center">
    <h2 class="">Talleres de instrumento</h2>
    <p class="mb-5">
      Opciones para recorrer la propuesta musical, Piano, Violín, Flauta traversa, Saxo, Clarinete, Guitarra, Batería.
    </p>
    <div class="card-deck" id="cards-m">
      <div class="card">
        <img class="img-fluid" src="/img/musica/talleres/taller1.jpg">
      </div>
      <div class="card">
        <img class="img-fluid" src="/img/musica/talleres/taller2.jpg">
      </div>
      <div class="card">
        <img class="img-fluid" src="/img/musica/talleres/taller3.jpg">
      </div>
      <div class="card">
        <img class="img-fluid" src="/img/musica/talleres/taller4.jpg">
      </div>
    </div>
  </div>
</section>

<section>
  <div id="carrusel" class="m-0 p-0">
    <div><img src="/img/inicial/laternenfest/Laternenfest1.jpg" alt="imagen de laternenfest 1"></div>
  </div>
</section>