<section id="landing">
  <div class="landing-img"
    style="background-image: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.15)),url(/img/nuestro-colegio/top.jpg);">
    <h2></h2>
  </div>
</section>


<section id="director">
  <div class="contenedor">
    <h1 class="mb-1">Nuestro director</h1>
    <h4>Herzlich willkommen</h4>
    <img class="img-nivel mt-n2" src="/img/director/director.png" alt="Luis Martelletti">
    <p>
      Bienvenidos al Gartenstadt Schule nuestra querida escuela fundada en 1954 por los integrantes de la comunidad
      alemana residente en Ciudad Jardín, su sueño fue crear una escuela para toda la comunidad que entrelazara las
      tradiciones y valores culturales de Argentina y Alemania.
    </p>
    <p>
      Hoy apoyados en la visión de los fundadores ofrecemos a nuestros alumnos una educación integral de calidad
      donde los idiomas alemán e inglés, el deporte, la música, las actividades de vida en la naturaleza y los
      viajes de intercambio estudiantil con Alemania agregan valor a la enseñanza oficial.
    </p>
    <p>
      Pertenecemos y participamos de las actividades de la Comunidad de Trabajo de Escuelas Argentino Alemanas y
      mantenemos una estrecha y fructífera relación con la embajada de Alemania para fortalecer los lazos culturales
      con esa moderna y pujante nación.
    </p>
    <p>
      Los invito a conocer nuestra escuela en donde sin duda encontrarán el ámbito apropiado para la educación de
      sus hijos.
    </p>
    <h5 class="text-right my-4">
      Cordialmente,<br>
      Alejandro Broggi <br>
      Director General
    </h5>
  </div>
</section>

<section class="c-celeste" id="staff">
  <div class="contenedor"
    style="background-image: url(https://3gfm329uxvhlvlv3iquiakz-wpengine.netdna-ssl.com/wp-content/themes/sprinklr/dist/static/img/bubbles-bg.png);">
    <div id="staff">
      <h2 class="text-center text-white py-4">Staff</h2>
      <div class="row justify-content-center">
        <div class="card col-sm-3 card-staff">
          <div class="card-body">
            <p><img class="img-fluid" src="/img/staff/diana.png" alt="card image"></p>
            <h5 class="card-title text-center">Diana Bria</h5>
            <p class="card-text text-center">Directora del Nivel Secundario
            </p>
          </div>
        </div>
        <div class="card col-sm-3 card-staff">
          <div class="card-body">
            <p><img class="img-fluid" src="/img/staff/viviana.png" alt="card image"></p>
            <h5 class="card-title text-center">Viviana Gordiola</h5>
            <p class="card-text text-center">Directora de Nivel Primario</p>
          </div>
        </div>
        <div class="card col-sm-3 card-staff">
          <div class="card-body">
            <p><img class="img-fluid" src="/img/staff/graciela.png" alt="card image"></p>
            <h5 class="card-title text-center">Gabriela Scelzo</h5>
            <p class="card-text text-center">Directora de Inicial</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="card col-sm-3 card-staff">
          <div class="card-body">
            <p><img class="img-fluid" src="/img/staff/natalia.png" alt="card image"></p>
            <h5 class="card-title text-center">Natalia Garbi</h5>
            <p class="card-text text-center">Coordinadora del Departamento de Inglés de Nivel Inicial y Nivel Secundario
            </p>
          </div>
        </div>
        <div class="card col-sm-3 card-staff">
          <div class="card-body">
            <p><img class="img-fluid" src="/img/staff/estela.png" alt="card image"></p>
            <h5 class="card-title text-center">Estela Sikora</h5>
            <p class="card-text text-center">Vicedirectora de Nivel Primario.</p>
          </div>
        </div>

        <div class="card col-sm-3 card-staff">
          <div class="card-body">
            <p><img class="img-fluid" src="/img/staff/cris.png" alt="card image"></p>
            <h5 class="card-title text-center">Cristina Blaschke</h5>
            <p class="card-text text-center">Coordinadora del Departamento de Alemán Nivel Secundario.</p>
          </div>
        </div>
        <div class="card col-sm-3 card-staff">
          <div class="card-body">
            <p><img class="img-fluid" src="/img/staff/diego.png" alt="card image"></p>
            <h5 class="card-title text-center">Diego Moreno</h5>
            <p class="card-text text-center">Coordinador de Música</p>
          </div>
        </div>
        <div class="card col-sm-3 card-staff">
          <div class="card-body">
            <p><img class="img-fluid" src="/img/staff/leo.png" alt="card image"></p>
            <h5 class="card-title text-center">Leonardo Barral</h5>
            <p class="card-text text-center">Coordinador de Educación Física.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="card col-sm-3 card-staff">
          <div class="card-body">
            <p><img class="img-fluid" src="/img/staff/barbara.png" alt="card image"></p>
            <h5 class="card-title text-center">Barbara Defferari</h5>
            <p class="card-text text-center">Coordinadora de Alemán de Nivel Inicial y Primario.</p>
          </div>
        </div>
        <div class="card col-sm-3 card-staff">
          <div class="card-body">
            <p><img class="img-fluid" src="/img/staff/agostina.png" alt="card image"></p>
            <h5 class="card-title text-center">Agostina Araldi</h5>
            <p class="card-text text-center">Coordinadora de Inglés Educación Primaria</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="plx" class="text-white" style="background-image: url(/img/nuestro-colegio/colegio1.jpg);">
  <div class="d-flex h-100 flex-row-reverse">
    <div class="align-self-end">
      <h3 class="mb-0">KorneBlum Flower</h3>
      <h5 class="mb-0">Fotografía tomada por <a target="_blank" class="bg-white"
          href="https://www.instagram.com/camiscdigital/"><cite title="Source Title">Camila Scianca</cite></a>
      </h5>
    </div>
  </div>
</section>

<div id="carrusel" class="p-0 m-0">
  <div>
    <img class="img-fluid" src="/img/historia/historia1.png" alt="">
  </div>
</div>
<section id="historia">
  <div class="contenedor">
    <h3>Un poco de historia...</h3>
    <p>
      Era octubre de 1953; Ciudad Jardín era joven, tenía apenas 10 años. Sus habitantes, esencialmente alemanes y de
      otros países europeos, soñaban un futuro en el que se perpetuaran sus tradiciones. Fue con este objetivo, que un
      grupo de padres se reunió en un comedor y decidió fundar un colegio en el que se diera una educación exhaustiva
      y se transfiriera el legado cultural y el idioma a los niños.
    </p>
    <p>​
      Gracias a la ayuda de la empresa FINCA, que prestó parte de sus instalaciones, y al aporte de mobiliario por
      parte de otros colegios, estos padres cumplieron su sueño.
    </p>
    <p>​
      Actualmente, nuestro colegio tiene más de 65 años, pero...¿Cómo fue fundada la escuela? ¿Quiénes fueron las
      personas que volvieron esta idea realidad? Podés conocer más sobre nuestra historia
      <a href="#" target="_blank"> entrando al sitio que creó nuestra alumna Guadalupe Sogno</a>
    </p>
  </div>
</section>

<section class="c-rojo text-white" id="calendario">
  <div class="contenedor">
    <h2 class="text-center mb-5">Calendario escolar</h2>
    <h5 class="mx-5 text-center">
      El año escolar comienza en febrero (aproximadamente el 23 de febrero).
      <br>
      <h5 class="font-weight-bold text-center">
        VACACIONES DE INVIERNO:
      </h5>
      <p class="text-center">
        Dos semanas de julio.
      </p>

      <h5 class="font-weight-bold text-center">
        RECESO DE PRIMAVERA:
      </h5>
      <p class="text-center">
        Una semana en octubre, del 7 al 11.
      </p>
      <h5 class="font-weight-bold text-center">
        FINALIZACIÓN DEL AÑO ESCOLAR: 
      </h5>
      <p class="text-center">
        Nivel inicial y Primaria aproximadamente el 15 de diciembre.
        <br>
        Los exámenes de Secundaria finalizan cerca de Navidad.
      </p>
    </h5>
  </div>
</section>

<section>
  <div class="contenedor">
    <h2>Datos Clave </h2>
    <div class="row pt-4" id="datos-claves">
      <h5 class="col btn-success text-white text-center py-4 rounded-0 mx-2">
        Students <br><span class="h2 py-3"> 563</span>
      </h5>
      <h5 class="col btn-violet text-white text-center py-4 rounded-0 mx-2">
        Girls <br><span class="h2 py-3"> 54% </span>
      </h5>
      <h5 class="col btn-info text-white text-center py-4 rounded-0 mx-2">
        Boys <br><span class="h2 py-3"> 46%</span>
      </h5>
      <h5 class="col btn-danger text-white text-center py-4 rounded-0 mx-2">
        Student Teacher <br><span class="h2 py-3"> Ratio : 3,3</span>
      </h5>
      <h5 class="col btn-primary text-white text-center py-4 rounded-0 mx-2">
        Teaching Staff <br><span class="h2 py-3"> 170</span>
      </h5>
    </div>
  </div>
</section>