<section id="landing">
  <div class="landing-img"
    style="background-image: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.15)),url(/img/eoe/top.jpg);">
    <h2>{{textos.titulo}}</h2>
  </div>
</section>

<section>
  <div class="contenedor">
    <img class="img-nivel mt-n4" src="/img/eoe/logo-eoe.png" alt="">
    <p>
      El equipo de orientación escolar tiene como objetivo participar, acompañar y
      orientar a la institución educativa en el sostenimiento de las trayectorias
      escolares de los niños, jóvenes y adolescentes.
      <br>
      Buscar y generar las condiciones para que todos tengan las mismas
      oportunidades de aprendizaje.
      <br>
      Poder asesorar, evaluar y planificar actuaciones concretas en los alumnos que
      tienen dificultades.
      <br>
      Orientar al docente, acerca de estrategias de enseñanzas que permitan
      enriquecer las experiencias y trayectorias de los alumnos.
    </p>
  </div>
</section>

<section id="title-cards" class="c-amarillo">
  <div class="mx-4 p-5">
    <h2 class="text-center mb-5">Algunas actividades que realizamos</h2>
    <div class="card-deck card-deck-primaria mb-5">
      <div class="card">
        <img src="/img/eoe/vocacion.jpg" class="card-img-top" alt="imagen orientacion Educacional">
        <div class="card-body">
          <h5 class="card-title">
            Orientación Vocacional:
          </h5>
          <p>Es un espacio para los alumnos de quinto y sexto
            año ES, donde mediante visitas a diferentes Universidades, encuentros con ex
            alumnos y padres de nuestra comunidad comparten con ellos sus experiencias
            profesionales y responden sus preguntas e inquietudes sobre sus carreras para
            que los alumnos puedan profundizar más en el quehacer profesional.</p>
        </div>
      </div>
      </a>
      <div class="card">
        <img src="/img/eoe/convivencias.jpg" class="card-img-top" alt="imagen orientacion Educacional">
        <div class="card-body">
          <h5 class="card-title">Convivecias</h5>
          <p>
            Mediante el juego y la escucha organizamos encuentros en
            diferentes lugares ( dentro de la escuela o fuera de la misma) donde trabajamos
            temas que van surgiendo en el aula relacionado con lo social y vincular.
          </p>
        </div>
      </div>
      <div class="card">
        <img src="/img/eoe/escuchas.jpg" class="card-img-top" alt="imagen orientacion Educacional">
        <div class="card-body">
          <h5 class="card-title">Jóvenes Escuchas</h5>
          <p>
            Grupo de alumno de la ES que se capacitaron para ser
            referentes de nuestros alumnos más chicos, que puedan contar con ellos como
            aliados ante situaciones que se les presenten.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-celeste text-white" id="data">
  <div class="contenedor">
    <div class="row eoe">
      <div class="col-sm-3">
        <img class="img-nivel float-left px-3 mt-3" src="/img/eoe/eoe1.png" alt="">
      </div>
      <div class="col-sm-9 h-100 m-auto">
        <p>Mi nombre es Daniela Nuñez, Licenciada en Psicopedagogía. <br>
          Egresada de la Universidad de Belgrano y ex alumna de la institución.
          Coordinadora del Equipo de Orientación Escolar
        </p>
        <h5 class="h6">Daniela Nuñez<br>
          Licenciada en Psicopedagogía<br>
          Coordinadora del Equipo
        </h5>
      </div>
    </div>
     <div class="row eoe">
      <div class="col-sm-3">
        <img class="img-nivel float-left px-3 mt-3" src="/img/eoe/eoe1.png" alt="">
      </div>
      <div class="col-sm-9 h-100 m-auto">
        <p>Mi nombre es Gretel Collo, Licenciada en Psicopedagogía. <br>
          Psicopedagoga y prof en psicopedagogía egresado del instituto Dr. Domingo Cabred. Ciudad de Cordoba .
        </p>
        <h5 class="h6">Gretel Collo<br>
          Licenciada en Psicopedagogía<br>
          Coordinadora del Equipo
        </h5>
      </div>
    </div>
    <div class="row eoe">
      <div class="col-sm-3">
        <img class="img-nivel float-left px-3 mt-3" src="/img/eoe/eoe2.png" alt="">
      </div>
      <div class="col-sm-9 h-100 m-auto">
        <p>
          Mi nombre es Valeria Gridel, soy licenciada en Psicología egresada de la U.B.A. y , sobretodo, ex alumna
          del colegio. <br>
          Comencé mis pasos en la institución en 2017 trabajando como profesora de Psicología, luego también de
          Salud y Adolescencia, y a partir de este año, con mucha alegría me sumo al EOE.
        </p>
        <h5 class="h6">Valeria Gridel<br>
          Licenciada en Psicología
        </h5>
      </div>
    </div>

  </div>
</section>