<section id="landing">
  <div class="landing-img" style="background-image: linear-gradient(rgba(0,0,0,.15),
      rgba(0,0,0,.15)),url(/img/primaria/p-matematicas/p-matematicas.jpg);">
    <h1>Otras Actividades</h1>
    <h5>Nivel Primario</h5>
  </div>
</section>

<section>
  <div class="contenedor">
    <h3 class="text-center">Actividades del proyecto educativo</h3>
    <p class="text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus porro asperiores eius modi vero, quae unde
      optio quis, atque quo, adipisci ducimus fugit quibusdam debitis maxime. Minima dignissimos nemo repellendus?
    </p>
  </div>
</section>

<section>
  <div class="contenedor c-amarillo text-dark">
    <h2 class="text-center">Alumnos escucha</h2>
    <p>Los alumnos trabajan en los talleres de valores, con el fin de lograr una convivencia
      armoniosa y un ambiente de respeto por las diferencias. Valores que nos ayudan en
      la vida diaria de cada uno y nos permiten crecer como personas.
    </p>
    <p>
      Asimismo, los
      alumnos de Nivel Secundario durante el año brindan un espacio de escucha y
      reflexión para que los alumnos de Nivel Primario reflexionen y compartan vivencias
      para buscar juntos mejores formas de resolver conflictos, basados en la tolerancia, el
      respeto y la solidaridad.
    </p>
    <div class="card-deck" id="cards-m">
      <div class="card">
        <img class="img-fluid" src="/img/primaria/p-actividades/pact1.jpg" />
      </div>
      <div class="card">
        <img class="img-fluid" src="/img/primaria/p-actividades/pact2.jpg" />
      </div>
      <div class="card">
        <img class="img-fluid" src="/img/primaria/p-actividades/pact3.jpg" />
      </div>
    </div>
</section>

<section class="c-celeste text-white">
  <div class="contenedor">
    <h2 class="text-center">Ajedréz en la escuela</h2>
    <p>
      El objetivo de las clases de ajedrez es que los alumnos disfruten del espacio con
      sus compañeros, jugando. Un espacio optativo en donde el ajedrez estimule a través del juego el
      trabajo en equipo, la empatía, la confianza y la iniciativa. En esta disciplina se desarrollan
      capacidades cognitivas que permiten aplicar estrategias que fomentan la concentración y la toma de
      decisiones.
    </p>
    <p>
      Los alumnos de Segundo Ciclo participan del taller optativo de Ajedrez a cargo del Profesor Pablo
      García. Durante el Ciclo Lectivo 2019 realizaron encuentros con niños de otras escuelas en los
      Torneos de Ajedrez PRIX. Asimismo ,a lo largo del año, tuvieron encuentros participativos con
      escuelas de la Comunidad Germana.
    </p>
    <div id="carrusel">
      <div><img src="/img/primaria/p-actividades/pact4.jpg" alt="imagen de ajedréz 1"></div>
      <div><img src="/img/primaria/p-actividades/pact5.jpg" alt="imagen de ajedréz 2"></div>
      <div><img src="/img/primaria/p-actividades/pact6.jpg" alt="imagen de ajedréz 3"></div>
      <div><img src="/img/primaria/p-actividades/pact7.jpg" alt="imagen de ajedréz 4"></div>
      <div><img src="/img/primaria/p-actividades/pact8.jpg" alt="imagen de ajedréz 5"></div>
    </div>
  </div>
</section>

<section>
  <div class="contenedor">
    <h2 class="text-center">MINI MINU</h2>
    <p>
      Proyecto institucional llamado “MINI MINU”, participan alumnos de 6º año de
      primaria y 1º año de secundaria investigando y trabajando en la elaboración una
      temática particular representando a un país. Este ejercicio busca desarrollar en los
      alumnos la capacidad de buscar, analizar y presentar en forma oral información que
      determina la posición del país representado frente a el tema en discusión.
    </p>
    <p>
      MINU, que
      significa Modelo Internacional de Naciones Unidas, es un proyecto escolar sumamente
      interesante que consiste en un simulacro de problemáticas que pueden afectar a un país
      o muchos de distinta manera y todos los países representados deberán exponer la forma
      de resolverlo. Asimismo, los alumnos comienzan a conocer el reglamento para debatir
      con otros países y hacer un primer ensayo de esta experiencia fascinante
    </p>
  </div>
</section>

<section id="title-cards" class="c-verde">
  <div class="mx-4 p-5">
    <h2 class="text-center mb-5">La articulación como trayectoria continua de aprendizaje</h2>
    <div class="card-deck card-deck-primaria mb-5">
      <div class="card">
        <img src="/img/primaria/p-actividades/part1.jpg" class="card-img-top" alt="Imagen articulacion ep es 1">
        <div class="card-body">
          <h5 class="card-title">
            Los alumnos trabajan articulando los niveles de primaria y secundaria
          </h5>
          <p>
            La articulación en el Colegio Gartenstadt Schule se considera como un enlace entre los dos niveles.
            Proponemos
            una perspectiva de trayectoria educativa continua, avanzando en el desarrollo de las capacidades
            establecidas
            para todas las etapas escolares.
          </p>
        </div>
      </div>
      <div class="card">
        <img src="/img/primaria/p-actividades/part2.jpg" class="card-img-top" alt="Imagen articulacion ep es 2">
        <div class="card-body">
          <h5 class="card-title">
            El trabajo en equipo como método de integración
          </h5>
          <p>
            Nuestra Colegio valora la continuidad como proceso educativo que se inicia cuando los niños ingresan al
            sistema
            educativo formal y que se mantendrá hasta la finalización del nivel Secundario, respetando las
            singularidades de
            cada alumno, sus familias y sus contextos.
          </p>
        </div>
      </div>
      <div class="card">
        <img src="/img/primaria/p-actividades/part3.jpg" class="card-img-top" alt="Imagen articulacion ep es 3">
        <div class="card-body">
          <h5 class="card-title">Proyectos en conjunto</h5>
          <p>
            Abordamos la articulación desde los proyectos educativos compartidos, conformando equipos de trabajo
            institucionales y de reflexión de las prácticas entre docentes de ambos niveles, con propuestas
            pedagógicas
            que
            contemplan la diversidad del aula, siendo éstas significativas e innovadoras y enfocándose en el
            desarrollo
            de
            las capacidades.
          </p>
        </div>
      </div>
      <div class="card">
        <img src="/img/primaria/p-actividades/part4.jpg" class="card-img-top" alt="Imagen articulacion ep es 4">
        <div class="card-body">
          <h5 class="card-title">Acompañamiento en la transición de primaria a secundaria</h5>
          <p>
            Acompañamos a nuestros alumnos desde el compromiso de todos los docentes y alumnos del nivel secundario de
            nuestra institución, concretando en cada acción el derecho a la educación y a aprender con calidad.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>