<section id="landing">
  <div class="landing-img"
    style="background-image: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.15)),url(/img/secundaria/top.jpg);">
    <h2 class="landing-title">Nivel Secundario</h2>
    <h5 class="landing-subtitle">¡Bienvenidos!</h5>
  </div>
</section>

<section id="intro-text">
  <div class="contenedor">
    <h3 class="text-center mb-5">Nuestra Propuesta</h3>
    <p>
      Nuestro objetivo es formar individuos con una sólida base de conocimientos generales y un buen desarrollo de sus
      competencias en las áreas cognitiva, artística, deportiva y ética, al igual que en los idiomas.
    </p>
  </div>
</section>

<section class="c-amarillo text-white">
  <div class="contenedor">
    <h3 class="text-center">
      El Idioma
    </h3>
    <p>
      En el nivel secundario, tal como en el primario, contamos con formación cultural, técnica y profesional <span
        class="bg-white t-amarillo font-weight-bold px-2"><i> bilingüe en inglés,</i></span> con el <span
        class="bg-white t-amarillo font-weight-bold px-2"><i>alemán como
          segunda lengua extranjera.</i></span>
    </p>
    <p>
      Los alumnos tienen la posibilidad de rendir <span class="bg-white t-amarillo font-weight-bold px-2"><i>exámenes
          internacionales</i></span> de ambos idiomas en sus diferentes años de
      estudio. Algunos exámenes son First Certificate Universidad de Cambridge (FCE), International General
      Certificate
      of Secondary Education (IGCSE) o Deutsches Sprachdiplom (DSD).
    </p>
    <div class="text-center pt-4">
      <a href="/deutsch" class="btn btn-lg btn-light text-warning mx-3" style="border-radius: 10px;">Más info de
        Alemán</a>
      <a href="/english" class="btn btn-lg btn-light text-warning mx-3" style="border-radius: 10px;">Más info de
        Inglés</a>
    </div>
  </div>
</section>

<section id="title-cards" class="c-rojo">
  <div class="mx-4 p-5">
    <h3 class="text-center mb-5 text-white">Actividades</h3>
    <div class="card-deck mb-5">
      <div class="card">
        <img src="/img/secundaria/Intercambio.jpg" class="card-img-top" alt="matematicas">
        <div class="card-body pb-2">
          <h5 class="card-title">
            Intercambio a Alemania
          </h5>
          <p>
            Al finalizar el 5to año del nivel secundario, los alumnos tienen la posibilidad de realizar un viaje
            educativo de un mes a Alemania, donde son alojados por familias locales.
          </p>
        </div>
        <div class="card-footer text-center border-0 bg-transparent pt-0">
          <a href="#" class="btn btn-dark">Ver más</a>
        </div>
      </div>
      <div class="card">
        <img src="/img/secundaria/Viajes educativos.jpg" class="card-img-top" alt="Salidas">
        <div class="card-body pb-2">
          <h5 class="card-title">Viajes Educativos</h5>
          <p>
            Los alumnos realizan viajes a diferentes lugares del país, como Córdoba, Puerto Madryn o Traful. Uno de
            nuestros viajes más destacados es a la Escuela-Hogar Verónica, un complejo educativo-recreativo fundado
            por la Comunidad de Colegios Alemanes.
          </p>
        </div>
        <div class="card-footer text-center border-0 bg-transparent pt-0">
          <a href="#" class="btn btn-dark">Ver más</a>
        </div>
      </div>
      <div class="card">
        <img src="/img/secundaria/Salidas educativas.jpg" class="card-img-top" alt="muestras y eventos">
        <div class="card-body pb-2">
          <h5 class="card-title">Salidas Educativas</h5>
          <p>
            Complementamos la educación en el aula con salidas educativas a “La Serenísima”, el Museo de Cs.
            Naturales, a diferentes Universidades, entre otros.
          </p>
        </div>
        <div class="card-footer text-center border-0 bg-transparent pt-0">
          <a href="#" class="btn btn-dark">Ver más</a>
        </div>
      </div>
      <div class="card">
        <img src="/img/secundaria/eventos.jpg" class="card-img-top" alt="proyectos inicial">
        <div class="card-body pb-2">
          <h5 class="card-title">Eventos</h5>
          <p>
            En nuestro colegio se destacan diversos eventos educativos y culturales, como MiNU, Ferias de Ciencias, el
            evento musical “Expresarte”, entro otros.
          </p>
        </div>
        <div class="card-footer text-center border-0 bg-transparent pt-0">
          <a href="#" class="btn btn-dark">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="d-none">
  <div class="contenedor">
    <h3 class="text-center">Música y Arte</h3>
    <p>...</p>
    <div class="text-center">
      <a href="#" class="btn btn-dark py-2 px-3">Ver más</a>
    </div>
  </div>
</section>

<section class="c-celeste text-white d-none">
  <div class="contenedor">
    <h3 class="text-center">Educación Física</h3>
    <p>...</p>
    <div class="text-center">
      <a href="#" class="btn btn-light t-celeste py-2 px-3">Ver más</a>
    </div>
  </div>
</section>

<section class="c-amarillo text-white d-none">
  <div class="contenedor">
    <h3 class="text-center">Equipo de Orientación Escolar</h3>
    <p>...</p>
    <div class="text-center">
      <a href="#" class="btn btn-light t-amarillo py-2 px-3">Ver más</a>
    </div>
  </div>
</section>

<section class="c-rojo text-white text-center" id="horarios">
  <div class="contenedor">
    <h3 class="landing-title mb-2">La Jornada</h3>
    <h5 class="font-weight-bolder"> Jornada completa: 07:20 - 16:20</h5>
    <p class="font-italic font-weight-lighter mt-2">
      Cuenta con una hora de almuerzo
    </p>
    <ul>
      <li style="list-style-position: inside; font-size: 22px;">11:30 - 12:30 de lunes a jueves y 12:30 a 13:30 los
        viernes.</li>
    </ul>
  </div>
</section>
<section>
  <div class="contenedor">
    <div class="row my-4">
      <div class="col text-center mt-5">
        <i class="far fa-clock fa-5x mb-4 t-celeste"></i>
        <h4 class="font-weight-bolder t-celeste">
          Horario <br> Entrada
        </h4>
        <h3 class="btn c-celeste text-white btn-horario">
          07:20
        </h3>
      </div>
      <div class="col text-center mt-5">
        <i class="fa fa-utensils fa-5x mb-4 t-amarillo"></i>
        <h4 class="font-weight-bolder t-amarillo">
          Almuerzo y <br> Recreación
        </h4>
        <h3 class="btn c-amarillo text-white btn-horario">
          11:30 - 12:30
        </h3>
        <h3 class="btn c-amarillo text-white btn-horario">
          12:30 - 13:30
        </h3>
      </div>
      <div class="col text-center mt-5">
        <i class="fa fa-house-user fa-5x mb-4 t-rojo"></i>
        <h4 class="font-weight-bolder t-rojo">
          Horario<br> Salida
        </h4>
        <h3 class="btn c-rojo text-white btn-horario">
          16:20
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="c-amarillo text-white text-center pt-2 d-none">
  <div class="pt-4">
    <h3>Las Aulas</h3>
    <div id="carrusel" class="p-0">
      <div><img src="" alt="imagen de laternenfest 1"></div>
    </div>
  </div>
</section>