<section id="docentes">
  <h1>Beneficios Staff</h1>

  <div class="grid-container">
    <div class="grid-item">
      <a href="https://encombo.com.ar/">
        <img src="/img/logos/encombo.webp" alt="Encombo" />

      </a>
    </div>
    <div class="grid-item disabled">

      <a href="https://admin.bonda.com/auth/signin">
        <img src="/img/logos/bonda.svg" alt="Bonda" />

      </a>
      <div class="overlay">Próximamente</div>
    </div>
  </div>
  <div class="grid-item disabled">

    <a href="https://admin.bonda.com/auth/signin">
      <img src="/img/logos/arcor.png" alt="logo arcor" />

    </a>
    <div class="overlay">Próximamente</div>
  </div>
  </div>
</section>