<section id="t360" class="h-100">
  <div class="h-100">
    <iframe width="102%" src="https://poly.google.com/view/7fNv4GAwIhh/embed?chrome=min" frameborder="0"
      style="border: none; height: 90vh" allowvr="yes" allow="vr; xr; accelerometer; magnetometer; gyroscope; autoplay;"
      allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
  </div>
</section>